@font-face {
    font-family: "jf";
    src: url("../fonts/jf.ttf");
}
  /* * */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "jf";
    scroll-behavior: smooth;
    /*ackground-color: #FFC129;*/
  }
  :root {
    --black: #333;
    --black2: #333;
    --white: #fff;
    --white2: #fff;
  }
  
  body {
    overflow-x: hidden;
    overflow-y: hidden;

  }
/* .container{
    position:relative;
    display: flex;
} */

.main{
    /* display: inline-flex;
    justify-content: center; */
    padding: 0px;
}
.copyright{

    bottom:0px;
    text-align: center;
}
.copyright p{
    position: absolute;
    bottom: 10px;
    font-size: 8px;
}

figure{
  margin: 0 0 1rem;
  position: fixed;
  left: 50%;
  bottom: 30px;
  transform: translate(-50%, 0%);
}

#gif{
  width: 200px;
}

.button{
  position: absolute;
  left: 0;
  right: 0;
  top: 36%;
  bottom: 0;
  margin: auto;
}
.videoClass{
  position: relative;
  text-align: center;
}